.zal-header {
  text-align: center;
  margin-top: 30px;
  h1 {
    margin-bottom: 20px;
    font-size: 36px;
  }
  p {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .github-link {
    color: orange;
  }
  .search-tip {
    color: #1890ff;
    cursor: pointer;
    font-size: 12px;
  }
}

.zal-box {
  position: relative;
  margin: 30px;

  .form-wrap {
    .form-group {
      position: relative;
      margin-bottom: 20px;
      
      .control-label {
        position: absolute;
        left: 0;
        top: 0px;
        width: 110px;
        text-align: right;
        font-size: 14px;
      }
      .form-control-wrap {
        margin-left: 120px;
        width: 250px;
        font-size: 14px;
      }
      input[type="text"] {
        width: 100%;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        height: 36px;
        padding: 0 6px;
        -webkit-appearance: none;
        &:focus {
          border: 1px solid #1890ff;
        }
      }
      textarea {
        overflow: auto;
        vertical-align: top;
        width: 100%;
        height: 90px;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 6px;
        -webkit-appearance: none;
        &:focus {
          border: 1px solid #1890ff;
        }
      }
      .properties-wrap {
        position: relative;
        
        .properties-value {
          position: relative;
          border: 1px solid #ddd;
          height: 36px;
          line-height: 36px;
          padding: 0 6px;
          border-radius: 4px;
          cursor: pointer;
          
          &::after {
            content: '';
            position: absolute;
            right: 12px;
            top: 50%;
            width: 0;
            height: 0;
            border-width: 8px 4px;
            border-style: solid;
            border-color: #aaa #ffffff #ffffff #ffffff;
            margin-top: -4px;
          }
          &.focused {
            border-color: #1890ff;
            &::after {
              transform: rotate(180deg);
              transform-origin: 4px 4px;
            }
          }
        }
        .properties-list {
          position: absolute;
          left: 0;
          top: 36px;
          width: 100%;
          z-index: 9;
          background-color: #fff;
          list-style: none;
          margin: 0;
          padding: 0;
          border: 1px solid #ddd;
          border-top: none;
          border-radius: 0 0 4px 4px;
          .properties-item {
            border-bottom: 1px solid #ddd;
            height: 36px;
            line-height: 36px;
            padding-left: 6px;
            margin: 0;
            font-size: 14px;
            cursor: pointer;
            &:nth-last-child(1) {
              border-bottom: none;
            }
            &:hover {
              color: orange;
            }
          }
        }
      }
      .radio-group {
        margin-left: 1px;
        .radio-btn {
          margin-right: 15px;
          position: relative;
          .shadow-radio  {
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #ddd;
            border-radius: 50%;
            position: relative;
            top: 2px;
            &.checked {
              border-color: #1890ff;
              &::before {
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #1890ff;
                z-index: 3;
              }
            }
          }
          input[type="radio"] {
            border: 1px solid #ddd;
            outline: none;
            background-color: #fff;
            -webkit-appearance: none;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      input[type="submit"] {
        background-color: #1890ff;
        color: #fff;
        width: 70px;
        height: 32px;
        line-height: 30px;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        border: none;
        -webkit-appearance: none;
      }
      .clear-btn {
        position: absolute;
        right: 0;
        top: 8px;
        font-size: 12px;
        color: #1890ff;
        cursor: pointer;
      }
    }

  }


  .form-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .content-list {
    border: 1px solid #ddd;
    padding: 20px;
    margin-left: 420px;
    text-align: justify;
    border-radius: 5px;
    list-style: none;
  }

  .ant-row.ant-form-item {
    margin-bottom: 3px;
    font-size: 12px;
  }

  .login-form-button {
    text-align: center !important;
  }

  .content-list li {
    line-height: 1.8;
    margin-bottom: 5px;
    cursor: pointer;
    .content-list__content {
      &:hover {
        color: orange
      }
    }
    .btn-flat {
      color: #1890ff;
      font-size: 12px;
    }
  }
  .nodata-tip {
    text-align: center;
    color: #ccc;
  }
  
}

.metaphor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  .metaphor-model {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    // height: 360px;
    border: 1px solid #2191d5;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    overflow-y: auto;
    &__header {
      border-bottom: 1px solid #2191d5;
      padding: 15px;
      font-weight: 500;
    }
    &__close-box {
      text-align: right;
      position: absolute;
      right: 15px;
      top: 15px;
      i {
        cursor: pointer;
        &:hover {
          color: #2191d5;
        }
      }
    }
    &__content {
      padding: 15px;
      font-size: 14px;
      text-align: justify;
    }
  }
}

@media (max-width: 800px) {
  .zal-header {
    h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
      text-align: left;
    }
  }
  .zal-box {
    margin: 10px;
    .form-wrap {
      position: inherit;
      width: 100% !important;
      margin-bottom: 20px !important;
      .control-label {
        font-size: 12px !important;
        width: 90px !important;
      }
      .form-control-wrap {
        margin-left: 95px !important;
        font-size: 12px !important;
        width: inherit !important;
      }
    }
    .content-list {
      margin-left: 0;
    }
    
  }
  .metaphor-overlay {
    .metaphor-model {
      width: 90%;
      &__content {
        font-size: 12px;
      }
    
    }
  }
}

