.zal-header {
  text-align: center;
  margin-top: 30px;
  h1 {
    margin-bottom: 20px;
    font-size: 36px;
  }
  p {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .github-link {
    color: orange;
  }
  .search-tip {
    color: #1890ff;
    cursor: pointer;
    font-size: 12px;
  }
}

.zal-box {
  position: relative;
  margin: 30px;

  .form-wrap {
    .form-group {
      position: relative;
      margin-bottom: 20px;
      
      .control-label {
        position: absolute;
        left: 0;
        top: 0px;
        width: 110px;
        text-align: right;
        font-size: 14px;
      }
      .form-control-wrap {
        margin-left: 120px;
        overflow: hidden;
        width: 250px;
        font-size: 14px;
      }
      input[type="text"] {
        width: 100%;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        height: 32px;
        padding: 0 6px;
      }
      textarea {
        overflow: auto;
        vertical-align: top;
        width: 100%;
        height: 90px;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 6px;
      }
      select {
        width: 100%;
        height: 32px;
        outline: none;
        border: 1px solid #ddd;
        background-color: #fff;
      }
      .radio-group {
        margin-top: -2px;
        margin-left: 1px;
        .radio-btn {
          margin-right: 12px;
          vertical-align: middle;
          input {
            margin-right: 4px;
            margin-top: -3px;
          }
        }
      }
      input[type="submit"] {
        background-color: #1890ff;
        color: #fff;
        width: 70px;
        height: 32px;
        line-height: 30px;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        border: none;
      }
      .clear-btn {
        position: absolute;
        right: 0;
        top: 8px;
        font-size: 12px;
        color: #1890ff;
        cursor: pointer;
      }
    }

  }


  .form-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .content-list {
    border: 1px solid #ddd;
    padding: 20px;
    margin-left: 420px;
    text-align: justify;
    border-radius: 5px;
    list-style: none;
  }

  .ant-row.ant-form-item {
    margin-bottom: 3px;
    font-size: 12px;
  }

  .login-form-button {
    text-align: center !important;
  }

  .content-list li {
    line-height: 1.8;
    margin-bottom: 5px;
    cursor: pointer;
    .content-list__content {
      &:hover {
        color: orange
      }
    }
    .btn-flat {
      color: #1890ff;
      font-size: 12px;
    }
  }
  .nodata-tip {
    text-align: center;
    color: #ccc;
  }
  
}

.metaphor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  .metaphor-model {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    // height: 360px;
    border: 1px solid #2191d5;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    overflow-y: auto;
    &__header {
      border-bottom: 1px solid #2191d5;
      padding: 15px;
      font-weight: 500;
    }
    &__close-box {
      text-align: right;
      position: absolute;
      right: 15px;
      top: 15px;
      i {
        cursor: pointer;
        &:hover {
          color: #2191d5;
        }
      }
    }
    &__content {
      padding: 15px;
      font-size: 14px;
      text-align: justify;
    }
  }
}

@media (max-width: 800px) {
  .zal-header {
    h1 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
      text-align: left;
    }
  }
  .zal-box {
    margin: 10px;
    .form-wrap {
      position: inherit;
      width: 100% !important;
      margin-bottom: 20px !important;
      .control-label {
        font-size: 12px !important;
        width: 85px !important;
      }
      .form-control-wrap {
        margin-left: 90px !important;
        font-size: 12px !important;
        width: inherit !important;
      }
    }
    .content-list {
      margin-left: 0;
    }
    
  }
  .metaphor-overlay {
    .metaphor-model {
      width: 90%;
      &__content {
        font-size: 12px;
      }
    
    }
  }
}

